# Ignore files with these extensions
.qmake.stash
compile_commands.json
target-*.json
*.cpp.*.idx
*.h.*.idx
*.idx
*.bak
moc_*.cpp
moc_*.h
*.o
moc_*.o
*.pdb
*.ilk
*.vc.pdb
*.cpp.obj
*.obj
*.pro.user
.ninja_*
.ninja_deps
.ninja_log
*.dll.a
lib*.dll.a
*.txt.user
*.log
build-QtQtml01-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/.ninja_deps
build-QtQtml01-Desktop_Qt_6_6_1_MinGW_64_bit-Debug/.ninja_log
*.idx
*.a
*.log
